@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-image: url(images/patt.png);
}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.header{
    background-color: rgba(255, 255, 255, 0.75);
    padding: 25px 0;
}

[class*="col-"]{
    float: left;
}

    
.row::after,.menu::after {
    content: "";
    display: block;
    clear: both;
}

.col-3{
    width: 25%;
}
.col-6{
    width: 50%;
}

.menu li{
    width: 25%;
    float: left;
    border-left: 1px solid #2c71b8;
}
.menu li:last-child{
    border-right: 1px solid #2c71b8;
}
.menu a {
    display: block;
    height: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #2c71b8;
    font-size: 21px;
}

.menu a:hover{
    background-color: #2c71b8;
    color: white;
}
